<!DOCTYPE html>
<html>
<head>
	<title>To Do List</title>
</head>
<body>

	<%  if(kindOfDay === 'Saturday' || kindOfDay === 'Sunday'){ %>
		<h1 style="color:purple"><%= kindOfDay %> List</h1>
	<% }else{ %>
		<h1 style="color:red"><%= kindOfDay %> List</h1>
	<% } %>
	<p>Why are you running</p>
</body>
</html>